{{define "main"}}
<article>
  <div class="relative w-full">

    {{ $title := .Site.Title }}

    {{ with .Params.featured_image }}
    {{ with resources.Get . }}
    {{ $featuredimage := (.Fill "1500x300 webp q90").RelPermalink }}

    <img src="{{ $featuredimage }}" alt="{{ $title }}" class="w-full h-[60vh] object-cover" />

    {{ end }}
    {{ end }}

    {{/* テキストオーバーレイ */}}
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center space-y-4">
      <h1
        class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white">
        {{ .Title }}
      </h1>
    </div>


  </div>
  <div class="max-w-3xl px-6 pt-6 pb-16 mx-auto prose dark:prose-invert dark:text-white">
    {{.Content}}
  </div>
</article>
{{end}}