{{ define "main" }}
<main>
    <article>

        <div class="relative w-full">

            {{ $featured_image := resources.GetMatch "images/featured/commet.jpg" }}
            {{ $large := ($featured_image.Fill "1500x300 webp q90").RelPermalink }}

            <img src="{{ $large }}" alt="{{ .Title }}" class="w-full h-[60vh] object-cover" />


            {{/* テキストオーバーレイ */}}
            <div class="absolute inset-0 flex flex-col items-center justify-center text-center space-y-4">
                <h1
                    class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white">
                    {{ .Title }}
                </h1>
            </div>
        </div>


        <!-- <header class="mb-4 bg-primary-600">
            <span class="py-96">
                <h1 class="py-16 text-5xl font-black text-center text-white capitalize">
                    {{ .Title }}
                </h1>
            </span>
        </header> -->

        <div class="mx-auto text-gray-900 max-w-7xl dark:text-gray-50">

            <!-- ---------- Tag list (site-wide) ---------- -->
            {{- $tags := site.Taxonomies.tags -}}
            {{- if $tags }}
            <section class="max-w-1xl mx-auto mt-12 px-6">
                <ul class="flex flex-wrap gap-3">
                    {{- range $name, $pages := $tags }}
                    <li>
                        <a href="{{ $pages.Page.RelPermalink }}"
                            class="inline-flex items-center border rounded-md bg-gray-100 hover:bg-primary-200 hover:text-black px-2.5 py-0.5 text-sm font-medium text-white capitalize">
                            {{ $name }} <span class="ml-1 text-xs opacity-70">({{ len $pages }})</span>
                        </a>
                    </li>
                    &nbsp;
                    {{- end }}
                </ul>
            </section>
            {{- end }}
            <!-- ---------- Tag list (site-wide) ---------- -->

        </div>
        {{ with .Content }}
        <div class="max-w-3xl px-6 mx-auto mt-6 prose dark:prose-invert dark:text-white">
            {{- . -}}
        </div>
        {{ end }}
        {{ partial "posts-template.html" . }}
    </article>
    <div class="max-w-xl mx-auto my-16">
        {{ partial "pagination" . }}
    </div>
</main>
{{ end }}