{{define "main"}}

<style>
  .header_image {
    width: 50%;
    margin: auto;
  }
  .header_title {
    width: 60%;
    margin: auto;
  }
  .header_title_style {
    line-height: 1.3em;
  }
  img{
    width: 400px;
    margin: auto;
  }
  @media (max-width: 1000px) {
    .header_image {
      width: 90%;
    }
  }
</style>

<article>
  <div class="relative w-full">

    {{/* テキストオーバーレイ */}}

    {{ $title := .Site.Title }}

    {{ with .Params.featured_image }}
    {{ with resources.Get . }}
    {{ $featuredimage := (.Fill "1500x1000 webp q90").RelPermalink }}


    <br>
    <br>
    <img src="{{ $featuredimage }}" alt="{{ $title }}" class="header_image" />


    {{ end }}
    {{ end }}

    <!-- <div class="items-center justify-center space-y-4 header_title">
      <h1
        class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white header_title_style">

      </h1>
    </div> -->

  </div>
  <div class="max-w-3xl px-6 pt-6 pb-16 mx-auto prose dark:prose-invert dark:text-white">
    <h1>{{ .Title }}</h1>

    {{.Content}}
  </div>
</article>
{{end}}